
<div class="flex-container">
    <div class="bookInfo" ng-repeat="book in allBooks">
        <h3 class="noWrapOverflow" ng-click="goTo(book)" ng-bind="book.title" ></h3>
        <div class="imgContainer">
            <img id="bookImg" ng-click="goTo(book)" ng-src="{{ book.img }}" />
        </div>
        <p class="bookAuthor noWrapOverflow">By {{ book.author }}</p>
        <p id="bookDes">{{ book.description }}</p>
        <div class="buyContainer">
            <div class="bookPrice">{{ book.price | currency }}</div>
            <md-button class="md-raised md-primary" ng-disabled="shopCart.isInCart(book.id)" ng-click="shopCart.addToCart(book)">
                <span ng-show="!shopCart.isInCart(book.id)">Add to Cart</span>
                <span ng-show="shopCart.isInCart(book.id)">Added to Cart</span>
            </md-button>
        </div>
    </div>
</div>

<div class="btnHolder">
    <button class="btn btn-danger" ng-click="checkOut()">Checkout <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> </button>
</div>


<mini-cart></mini-cart>